table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

th.mat-header-cell {
  border-right : 1px solid;
  text-align: center;
}

td.mat-cell {
  border-right : 1px solid;
  text-align: center;
}
